  <!-- <div id="about" class="container mx-auto px-4 py-16 bg-white text-emeraldGreen font-[Poppins]">

  <h2 class="text-3xl font-bold text-emeraldGreen mb-6">{{ title }}</h2>

  <p class="text-lg leading-relaxed text-noirDeVigne mb-6">
    {{ intro }}
  </p>

  <p class="text-lg leading-relaxed text-egyptianEarth">
    {{ passion }}
  </p>
</div> -->

<div id="about" class="bg-white text-emeraldGreen font-[Poppins] py-16">
  <div class="container mx-auto px-6 md:px-20">

    <h2 class="text-3xl font-bold mb-6">{{ title }}</h2>

    <p class="text-lg leading-relaxed text-noirDeVigne mb-6 max-w-7xl">
      {{ intro }}
    </p>

    <p class="text-lg leading-relaxed text-egyptianEarth max-w-7xl">
      {{ passion }}
    </p>

  </div>
</div>
