@import 'ngx-toastr/toastr'; 

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:host {
  display: block;
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Cinzel', serif; */
}
