@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'ngx-toastr/toastr.css';

html {
    scroll-behavior: smooth;
  }

  :host {
  display: block;
  font-family: 'Poppins', sans-serif; 
  /* font-family: 'Cinzel', serif; */
}
