<footer class="bg-noirDeVigne text-wasabi py-10 px-4 md:px-16 font-[Cinzel]">

  <img src="/assets/img/logo.png" alt="logo" class="h-10 w-10 absolute" />

   <p class="text-lg font-semibold text-center pb-4">Connect with me:</p>

  <!-- social icons -->
  <div class="flex justify-center mb-6">
    <div class="flex gap-6 text-wasabi text-sm font-light">
      <a href="https://github.com/maneesh-28" target="_blank">
        <img src="/assets/logo/github.png" alt="GitHub" class="h-12 w-12 hover:scale-110 transition-transform" />
      </a>
      <a href="https://www.behance.net/maneeshsaravan" target="_blank">
        <img src="/assets/logo/behance.png" alt="Instagram" class="h-12 w-12 hover:scale-110 transition-transform" />
      </a>
      <a href="https://www.linkedin.com/in/maneeshwaran-saravanan-006394353?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank">
        <img src="/assets/logo/linkedin.png" alt="LinkedIn" class="h-12 w-12 hover:scale-110 transition-transform" />
      </a>
      <a href="mailto:maneeshwaran01@gmail.com?subject=Hello%20there&body=I%20wanted%20to%20reach%20out%20about..." target="_blank">
        <!-- https://mail.google.com/mail/?view=cm&to=maneeshwaran01@gmail.com -->
        <img src="/assets/logo/gmail.png" alt="Gmail" class="h-12 w-12 hover:scale-110 transition-transform" />
      </a>
      <a href="https://www.instagram.com/maneesh_5_?igsh=MXZmdDlsdG5wcXQ0cw==" target="_blank">
        <img src="/assets/logo/instagram.png" alt="Instagram" class="h-12 w-12 hover:scale-110 transition-transform" />
      </a>
    </div>
  </div>

  <div class="text-center text-xs text-wasabi opacity-70">
    &copy; {{ currentYear }} Maneeshwaran. All rights reserved.
  </div>
</footer>
