<header class="w-full px-6 py-4 bg-noirDeVigne text-creasedKhaki font-poppins">
  <div class="max-w-7xl mx-auto flex items-center justify-between">

    <div class="text-2xl font-bold text-creasedKhaki tracking-widest">
      SMW
    </div>

    <nav class="space-x-6 text-sm font-semibold">
      <a routerLink="/" routerLinkActive="text-egyptianEarth" class="hover:text-egyptianEarth">Home</a>
      <a routerLink="/about" routerLinkActive="text-egyptianEarth" class="hover:text-egyptianEarth">About</a>
      <a routerLink="/service" routerLinkActive="text-egyptianEarth" class="hover:text-egyptianEarth">Service</a>
      <a routerLink="/projects" routerLinkActive="text-egyptianEarth" class="hover:text-egyptianEarth">Project</a>
    </nav>

    <button class="border border-creasedKhaki px-4 py-1 hover:bg-creasedKhaki hover:text-noirDeVigne transition rounded">
      Get in Touch
    </button>

  </div>
</header>
