<header class="sticky top-0 z-50 w-full px-6 py-4 bg-noirDeVigne text-creasedKhaki font-poppins">
  <div class="max-w-7xl mx-auto flex items-center justify-between">
    <!-- Logo -->
    <!-- <div class="text-2xl font-bold tracking-widest">SMW</div> -->
     <div class=""><img src="/assets/img/logo.png" alt="logo" class="h-10 w-10"/></div>


    <button (click)="toggleMenu()" class="md:hidden focus:outline-none">
      <svg class="w-6 h-6 text-creasedKhaki" fill="none" stroke="currentColor" stroke-width="2"
           viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
        <path d="M4 6h16M4 12h16M4 18h16" />
      </svg>
    </button>

    <!-- desktop menu -->
    <nav class="hidden md:flex space-x-6 text-sm font-semibold">
      <a href="#home" class="hover:text-egyptianEarth">Home</a>
      <a href="#about" class="hover:text-egyptianEarth">About</a>
      <a href="#service" class="hover:text-egyptianEarth">Service</a>
      <a href="#projects" class="hover:text-egyptianEarth">Project</a>
    </nav>

    <a href="#contact" class="hidden md:block">
      <button class="border border-creasedKhaki px-4 py-1 hover:bg-creasedKhaki hover:text-noirDeVigne transition rounded">
        Get in Touch
      </button>
    </a>
  </div>

  <!-- Mobile Menu -->
  <!-- <div *ngIf="isMenuOpen" class="md:hidden mt-4 flex flex-col space-y-4 text-center text-sm font-semibold"> -->
  <!-- Mobile Menu -->
<div *ngIf="isMenuOpen" class="transition-all duration-300 ease-in-out md:hidden mt-4 flex flex-col space-y-4 text-center text-sm font-semibold">
    <a href="#home" (click)="closeMenu()" class="hover:text-egyptianEarth">Home</a>
    <a href="#about" (click)="closeMenu()" class="hover:text-egyptianEarth">About</a>
    <a href="#service" (click)="closeMenu()" class="hover:text-egyptianEarth">Service</a>
    <a href="#projects" (click)="closeMenu()" class="hover:text-egyptianEarth">Project</a>
    <a href="#contact" (click)="closeMenu()" class="hover:text-egyptianEarth">
      <button class="border border-creasedKhaki px-4 py-1 hover:bg-creasedKhaki hover:text-noirDeVigne transition rounded">
        Get in Touch
      </button>
    </a>
  </div>
</header>
